---
import { Image } from "astro:assets";
import { format, formatISO } from 'date-fns';
import BatchCategory from "./ui/batch-category.astro";

const { home, url, src, title, time, category, tags } = Astro.props;
const color = home ? 'var(--black)' : 'var(--gray-10)';

const pubDateISO = formatISO(time);
const pubDateJA = format(time, 'yyyy.MM.dd');
---
<div class="inner">
  <a href={url}>
    <div class="image">
      <Image src={src} alt="" width="1600" height="900" loading="lazy" />
    </div>
    <div class="title">{title}</div>
    <BatchCategory home={home} text={category} />
    <div class="tagsTime">
      <ul class="list">
        {tags.map((tag: string) => {
          return (
            <li>{tag}</li>
          )
        })}
      </ul>
      <time datetime={pubDateISO}>{pubDateJA}</time>
    </div>
  </a>
</div>

<style lang="scss" define:vars={{color}}>
  .inner {
    height: max-content;
    padding: 1.25rem;
    border: 2px solid transparent;
    border-radius: 1.5rem;
    transition: .2s;
  }
  .image {
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
    img {
      height: 100%;
      border-radius: 1.5rem;
      object-fit: cover;
    }
  }
  .title {
    color: var(--color);
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    height: 48px;
    display: --webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .list {
    color: var(--color);
    display: flex;
    gap: 0.8rem;
  }
  .tagsTime {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    li {
      display: flex;
      gap: 0.8rem;
      font-size: 0.75rem;
    }
  }
  time {
    color: var(--color);
    font-size: 0.75rem;
  }

  @media (hover: hover) {
    .inner {
      &:hover {
        border: 2px solid var(--color);
      }
    }
  }
  @include mixin.phone {
    .inner {
      padding: 0.75rem;
      margin-top: 0.85rem;
      border: 1px solid var(--color);
      & + & {
        margin-top: 1.5rem;
      }
      .image {
        margin-bottom: 0.5rem;
      }
      .title {
        margin-bottom: 0.5rem;
        height: auto;
      }
    }
  }
</style>