---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";
import Card from "./card.astro";
import LinkButton from './ui/link-button.astro';

interface Props {
  page: Page<CollectionEntry<"articles">>;
}

const { page } = Astro.props;

---
<div class="inner">
  <h2>新着記事</h2>
  <div class="wrapper">
    <div class="card-content">
      <div class="card__border" />
      {
        page.data.map((post) => {
          const { slug, data: { image, title, pubDate, category, tags }} = post;
          return (
            <Card home url={`/articles/${slug}`} src={image} title={title} time={pubDate} category={category} tags={tags} />
          )
        })
      }
    </div>
    <LinkButton link="/articles" text="記事一覧" />
  </div>
</div>

<style lang="scss">
  .inner {
    background-color: var(--gray-10);
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
    padding: 4rem 2rem 5rem 2rem;
    display: flex;
    gap: 2rem;
    margin-left: 11.25rem;
    h2 {
      writing-mode: vertical-lr;
      font-size: 2.5rem;
      letter-spacing: 0.3em;
      font-weight: 600;
    }
  }
  .card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -1.25rem;
    margin-bottom: 4rem;
    position: relative;
  }
  .card__border {
    position: absolute;
    border: 2px solid var(--black);
    border-radius: 1.5rem;
    pointer-events: none;
    opacity: 0;
    transition-property: left, top, width, height;
    transition-duration: 0.3s;
    left: anchor(--card left);
    top: anchor(--card top);
    width: anchor-size(--card width);
    height: anchor-size(--card height);
  }
  @media (hover: hover) {
    .card-content {
      &:hover {
        .card__border {
          opacity: 1;
        }
      }
    }
  }
  @include mixin.mobile {
    .inner {
      margin-left: 2rem;
      flex-direction: column;
      padding: 2rem 1.5rem;
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px;
      h2 {
        writing-mode: unset;
        letter-spacing: 0.1em;
        font-size: 2rem;
        margin-left: 1.5rem;
      }
    }
    .card-content {
      gap: 0;
      margin-bottom: 3rem;
    }
  }
  @include mixin.phone {
    .inner {
      margin-left: 1.5rem;
      padding: 1.5rem;
      padding-bottom: 2rem;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      h2 {
        font-size: 1.375rem;
        margin-left: 0;
      }
    }
    .card-content {
      grid-template-columns: auto;
      margin-bottom: 2rem;
    }
  }
</style>